* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

/* body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
} */

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body{
    background-image: url('luke-chesser-CxBx_J3yp9g-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
  }


/* HEADER  */

header {
    height: 70px;
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.logo-img {
    height: 100px;
  width: auto;
  padding-left: 15px;
  padding-top: 5px;
  filter: drop-shadow(0 0 2px rgb(255, 255, 255));
  position: fixed;
  z-index: 3;
}

.menu-icon {
    font-size: 1em;
  top: 1000px;
  color: #ac1818;
  line-height: 0px;
}

/* NAVBAR MENU */
nav {
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    top: 70px;
    left:0;
    width: 100%;
    z-index: 3;
}

nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
nav ul li {
    padding: 0px;
    font-size: 20px;
    text-align: center;
}
nav ul li a {
    display: inline-block;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.05em;
    
}
nav ul li a:hover, nav ul li a:focus {
    border-bottom: 2px solid rgb(255, 255, 255) ;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 300px;
    padding: 15px 0;
    transition: all 0.5s ease-in;
}

/* FULL SCREEN NAVBAR */

@media (min-width: 768px) { 
    .menu-wrap label {
        display: none;
    }
    nav {
        position: fixed;
        top: 00px;
        right: 10px;
        background-color: transparent;
        z-index: 1;
        color: white;
        position: fixed;  
        
    }
    nav ul {
        max-height: 70px;
        padding: 10px 0;
        text-align: right;
        align-items: center;
    }
    nav ul li {
        display: inline-flex;
        padding-right: 100px;
        font-size: 2.5emS;
        filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    }
}

/* body */
.bcontent{
    padding: 0 10%;
    height: auto;
}

/* MENU BLACK */
.black{
    background: rgba(0, 0, 0, 0.5);
  }

/* box */

.box{
    box-shadow:
  0 2.6px 1.6px rgba(255, 255, 255, 0.052),
  0 5.4px 3.9px rgba(255, 255, 255, 0.081),
  0 8.6px 7.3px rgba(255, 255, 255, 0.103),
  0 13px 13px rgba(255, 255, 255, 0.126),
  0 20.7px 24.2px rgba(255, 255, 255, 0.152),
  0 43px 58px rgba(255, 255, 255, 0.21)
;
    width: 80%;
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

/* contact */

.container{
    align-items: center;
    text-align: center;
    color: white;
}

.container .text{
    font-size: 2vw;
}

.form-row{
    display: block;
    margin: 10px;
    text-align: left;
    font-size: 25px;
    padding-left: 50px;
}

.form-row .input-data{
    display: block;
}

.input-data input{
    margin-left: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.input-data input,textarea{
    width: 50%;
    font-size: 20px;
    padding-left: 15px;
}

.input-data .label{
    vertical-align: top;
}

.input-data .button{
    width: 15%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 8px;
}

/* ---- footer SECTION ----- */

footer{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    font-family: "open Sans";
    padding-top: 4px;
    color: white;
    
  }
  
  /* social icons */
  .footer-content{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content ul{
    display: flex;
  }
  
  .footer-content ul li {
    list-style-type: none;
    margin: 30px;
  }
  
  .footer-content ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .footer-content ul li .fa {
    font-size: 35px;
    color: black;
    line-height: 100px;
    transition: 500ms;
  }
  
  .footer-content ul li a {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    transition: 500ms;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .footer-content ul li a:hover {
    box-shadow: -50px 50px 50px rgba(53, 53, 53, 0.5);
  }
  
  .footer-content ul li:hover .fa {
    color: #fff;
    font-size: 50px;
  }
  
  .footer-content ul li:hover:nth-child(1) a {
    background: #3b5999;
  }
  
  .footer-content ul li:hover:nth-child(2) a {
    background: #55acee;
  }
  
  .footer-content ul li:hover:nth-child(3) a {
    background: #0077bb;
  }
  
  .footer-content ul li:hover:nth-child(4) a {
    background: linear-gradient(#400080, transparent),
      linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }
  
  @media all and (max-width: 500px) {
    .footer-content ul li {
      margin: 0 10px;
    }
  
    .footer-content ul li .fa {
      font-size: 25px;
      line-height: 50px;
    }
  
    .footer-content ul li a {
      width: 70px;
      height: 70px;
    }  
  
    .footer-content ul li:hover .fa {
      font-size: 45px;
    }
  }
  
  /* COPYRIGHT BAR */
  
  
  .footer-bottom{
    width: 100vw;
    padding: 20px;
    text-align: center;
  }
  
  .footer-bottom p{
  font-size: 17px;
  word-spacing: 2px;
  text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-decoration: uppercase;
    opacity: .4;
    font-weight: 200;
  }