/* body */
.bcontent {
  padding: 0 10%;
  height: auto;
  padding-top: 30px;
}

/*---------------- Contact Body ---------------------*/
.contactbody {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  margin-top: 100px;
  padding: 15px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow:
    0 2.6px 1.6px rgba(0, 0, 0, 0.052),
    0 5.4px 3.9px rgba(0, 0, 0, 0.081),
    0 8.6px 7.3px rgba(0, 0, 0, 0.103),
    0 13px 13px rgba(0, 0, 0, 0.126),
    0 20.7px 24.2px rgba(0, 0, 0, 0.152),
    0 43px 58px rgba(0, 0, 0, 0.21);

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 */
}

.contactbody a {
  text-decoration: none underline;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/*-----------------------------------------------------*/

.footer-content-single {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  line-height: 100px;
  transition: 500ms;
}

.footer-content-single a {
  position: relative;
  font-size: 27px;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 500ms;
}

.footer-content-single a:hover {
  box-shadow: -50px 50px 50px rgba(53, 53, 53, 0.5);
  background: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.footer-content-single a:hover .fa {
  color: #fff;
  font-size: 35px;
}

/* MENU BLACK */
.black {
  background: rgba(0, 0, 0, 0.5);
}

/* -------- contact ----- */