* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: chalkboard_seregular;
}


/* .dark-mode {
  background-color: black;
  color: white;
}  */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url('luke-chesser-CxBx_J3yp9g-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
}

/* ---------------- Nav Bar ------------------------- */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  background-color: rgba(0, 0, 0, .8);
  z-index: 3;
}

.logotitle img {
  width: 160px;
  margin-top: 13px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a:hover {
  color: white;
  border-bottom: 1px solid whitesmoke;
}

.nav-links a {
  color: #b9b9b9;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 17px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    background-attachment: cover;
  }

  .nav-links {
    margin-top: 16px;
    position: fixed;
    overflow: hidden;
    right: 0px;
    height: 93vh;
    top: 7vh;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ---------------- Nav Bar ------------------------- */

/* body */
.bcontent {
  /* background-color: rgb(49, 4, 4); */
  padding: 0 10%;
  height: auto;
}

/* MENU BLACK */
.black {
  background: rgba(0, 0, 0, 0.5);
}

/* games */
.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 85%;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide-controls {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 1em;
  border: none;
  padding: 10px;
  color: white;
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}

/* games */

/* cards */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;

}

.flex-item {
  width: 300px;
  height: 335px;
  margin: 10px;
  text-align: center;
  /* backdrop-filter: blur(25px);
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
  filter: blur(10px); */
  position: relative;
  background: inherit;
  overflow: hidden;
}

.flex-item:after{
  content: '';
  width: 300px;
  height: 335px;
  left: 0px;
  right: 0;
  top: 0;  
  bottom: 0;
  background: inherit; 
  position: absolute;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
  filter: blur(5px);
 }

.flex-item .wrap{
  display: inline-block;
}

.flex-item img {
  width: 100%;
}

/* ---- footer SECTION ----- */

footer {
  /* background: rgb(37, 37, 37); */
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  font-family: "open Sans";
  padding-top: 4px;
  color: white;

}

/* social icons */
.footer-content {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content ul {
  display: flex;
}

.footer-content ul li {
  list-style-type: none;
  margin: 30px;
}

.footer-content ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer-content ul li .fa {
  font-size: 27px;
  color: black;
  line-height: 100px;
  transition: 500ms;
}

.footer-content ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  transition: 500ms;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.footer-content ul li a:hover {
  box-shadow: -50px 50px 50px rgba(53, 53, 53, 0.5);
}

.footer-content ul li:hover .fa {
  color: #fff;
  font-size: 35px;
}

.footer-content ul li:hover:nth-child(1) a {
  background: #3b5999;
}

.footer-content ul li:hover:nth-child(2) a {
  background: #55acee;
}

.footer-content ul li:hover:nth-child(3) a {
  background: #bb0000;
}

.footer-content ul li:hover:nth-child(4) a {
  background: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

@media all and (max-width: 500px) {
  .footer-content ul li {
    margin: 0 8px;
  }

  .footer-content ul li .fa {
    font-size: 20px;
    line-height: 40px;
  }

  .footer-content ul li a {
    width: 50px;
    height: 50px;
  }

  .footer-content ul li:hover .fa {
    font-size: 30px;
  }

  .footer-bottom p {
    font-size: 10px;
  }
}

/* copyright bar */

.footer-bottom {
  width: 100vw;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 17px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-decoration: uppercase;
  opacity: .4;
  font-weight: 200;
}

.youtube {
  width: auto;
}