/* body */
.bcontent {
  /* background-color: rgb(49, 4, 4); */
  padding: 0 10%;
  height: auto;
}

/* MENU BLACK */
.black {
  background: rgba(0, 0, 0, 0.5);
}

/* games */
.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 85%;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide-controls {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 1em;
  border: none;
  padding: 10px;
  color: white;
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}

/* games */

/* cards */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;

}

.flex-item {
  width: 300px;
  height: 335px;
  margin: 20px;
  text-align: center;
  backdrop-filter: blur(25px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  /* filter: blur(10px);
  position: relative;
  background: inherit;
  overflow: hidden; */
}

.flex-item .wrap {
  display: inline-block;
  z-index: 99;
}

.flex-item img {
  width: 100%;
}