/* ---------------- Nav Bar ------------------------- */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  background-color: rgba(0, 0, 0, .8);
  font-family: "Poppins", sans-serif;
  z-index: 3;
}

.logotitle img {
  width: 160px;
  margin-top: 13px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a:hover {
  color: white;
  border-bottom: 1px solid whitesmoke;
}

.nav-links a {
  color: #b9b9b9;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 17px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    margin-top: 16px;
    position: fixed;
    overflow: hidden;
    right: 0px;
    height: 93vh;
    top: 8vh;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ---------------- Nav Bar ------------------------- */


/* MENU BLACK */
.black {
  background: rgba(0, 0, 0, 0.5);
}

/* center logo */
.image {
  padding-top: 50px;
  width: 60%;
  filter: drop-shadow(5px 5px 8px rgb(179, 179, 179));
}

@media (max-width: 1150px) {
  .image {
    width: 90%;
  }
}

/* games cards */

.box {
  margin: auto;
  width: 70%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 29px;
  backdrop-filter: blur(15px);
  box-shadow:
    0 2.6px 1.6px rgba(0, 0, 0, 0.052),
    0 5.4px 3.9px rgba(0, 0, 0, 0.081),
    0 8.6px 7.3px rgba(0, 0, 0, 0.103),
    0 13px 13px rgba(0, 0, 0, 0.126),
    0 20.7px 24.2px rgba(0, 0, 0, 0.152),
    0 43px 58px rgba(0, 0, 0, 0.21);
}

.box h1 {
  font-size: 4.7em;
  /* font-family: 'chalkboard_seregular'; */
}

/* card container */
.cards-list {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 50px;
  width: 100%;
  height: auto;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  align-items: center;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 2px;
  height: 50px;
  width: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.card .card_title button {
  border-radius: 2px;
  font-size: 1.5rem;
  height: 100%;
  width: auto;
  padding: 0 7px;
  border: 2px solid #FFD55A;
  border-radius: 10px;
  background-color: transparent;
  color: #ffd55a;
  vertical-align: middle;
}

.card .card_title button a {
  text-decoration: none;
  color: #FFD55A;

}

.card button:hover {
  background: #FFD55A;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* mobile - cards */
@media all and (max-width: 650px) {
  .card-list {
    flex-direction: column;
  }

  .card {
    margin: 20px;
  }

  .box {
    width: 90%;
  }

  .box center h1 {
    font-size: 3em;
  }

  .card .card_title button {
    font-size: 1rem;
  }
}