* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: chalkboard_seregular; */
  font-family: 'ABeeZee', sans-serif;
}

/* css variables */
:root {
  --black: black;
  --peace: white;
  --sunshine: yellow;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* body{
  background: url('luke-chesser-CxBx_J3yp9g-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  background-image: url('luke-chesser-CxBx_J3yp9g-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-color: #2F2F2F;
}

/* ----- DARK THEME ----- */
/* html{
    background-color: black;
    filter: invert(1) hue-rotate(60deg);
} */

/* ----- HEADER SECTION -----
header {
  height: 70px;
  /* background-image: white; */
/* } */

/* .menu-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.logo-img {
  width: 40%;
  padding-left: 15px;
  padding-top: 5px;
  filter: drop-shadow(0 0 2px rgb(255, 255, 255));
  z-index: 3;
}

.menu-icon {
  font-size: 0px;
  color: #b60000cb;
  line-height: 100px;
  align-items: center;
  
} */

/* navbar */

/* nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 80px;
  left:0;
  width: 100%;
  z-index: 3;
}

nav ul {
  list-style-type: none;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

nav ul li {
  padding: 0px;
  font-size: 20px;
  text-align: center;
}

nav ul li a {
  display: inline-block;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.05em;
}

nav ul li a:hover, nav ul li a:focus {
  border-bottom: 2px solid rgb(255, 255, 255) ;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ nav ul {
  max-height: 300px;
  padding: 5px 0;
  transition: all 0.5s ease-in;
} */

/* FULL SCREEN NAVBAR */

/* @media (min-width: 1150px) { 
  .menu-wrap label {
      display: none;
  }

  .logo-img{
    position: fixed;
    width: 15%;
  }

  nav {
      top: 0px;
      right: 10px;
      background-color: transparent;
      z-index: 1;
      color: white;
      position: fixed;      
  }
  nav ul {
      max-height: 70px;
      padding: 10px 0;
      text-align: right;
      align-items: center;
  }
  nav ul li {
      display: inline-flex;
      padding-right: 80px;
      font-size: 23px;
      filter: drop-shadow(0 0 10px rgb(112, 112, 112));
  }
} */

/* ---------------- Nav Bar ------------------------- */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  background-color: rgba(0, 0, 0, .8);
  font-family: "Poppins", sans-serif;
  z-index: 3;
}

.logotitle img {
  width: 160px;
  margin-top: 13px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a:hover {
  color: white;
  border-bottom: 1px solid whitesmoke;
}

.nav-links a {
  color: #b9b9b9;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 17px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    margin-top: 16px;
    position: fixed;
    overflow: hidden;
    right: 0px;
    height: 93vh;
    top: 8vh;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ---------------- Nav Bar ------------------------- */


/* MENU BLACK */
.black {
  background: rgba(0, 0, 0, 0.5);
}

/* center logo */
.image {
  padding-top: 50px;
  width: 60%;
  filter: drop-shadow(5px 5px 8px rgb(179, 179, 179));
}

@media (max-width: 1150px) {
  .image {
    width: 90%;
  }
}

/* games cards */

.box {
  margin: auto;
  width: 70%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 29px;
  backdrop-filter: blur(15px);
  box-shadow:
    0 2.6px 1.6px rgba(0, 0, 0, 0.052),
    0 5.4px 3.9px rgba(0, 0, 0, 0.081),
    0 8.6px 7.3px rgba(0, 0, 0, 0.103),
    0 13px 13px rgba(0, 0, 0, 0.126),
    0 20.7px 24.2px rgba(0, 0, 0, 0.152),
    0 43px 58px rgba(0, 0, 0, 0.21);
}

.box h1 {
  font-size: 4.7em;
  /* font-family: 'chalkboard_seregular'; */
}

/* card container */
.cards-list {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 50px;
  width: 100%;
  height: auto;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  align-items: center;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 2px;
  height: 50px;
  width: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.card .card_title button {
  border-radius: 2px;
  font-size: 1.5rem;
  height: 100%;
  width: auto;
  padding: 0 7px;
  border: 2px solid #FFD55A;
  border-radius: 10px;
  background-color: transparent;
  color: #ffd55a;
  vertical-align: middle;
}

.card .card_title button a {
  text-decoration: none;
  color: #FFD55A;

}

.card button:hover {
  background: #FFD55A;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* mobile - cards */
@media all and (max-width: 650px) {
  .card-list {
    flex-direction: column;
  }

  .card {
    margin: 20px;
  }

  .box {
    width: 90%;
  }

  .box center h1 {
    font-size: 3em;
  }

  .card .card_title button {
    font-size: 1rem;
  }
}

/* ---- footer SECTION ----- */

footer {
  /* background: rgb(37, 37, 37); */
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  font-family: "open Sans";
  padding-top: 4px;
  color: white;

}

/* social icons */
.footer-content {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content ul {
  display: flex;
}

.footer-content ul li {
  list-style-type: none;
  margin: 30px;
}

.footer-content ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer-content ul li .fa {
  font-size: 27px;
  color: black;
  line-height: 100px;
  transition: 500ms;
}

.footer-content ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  transition: 500ms;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.footer-content ul li a:hover {
  box-shadow: -50px 50px 50px rgba(53, 53, 53, 0.5);
}

.footer-content ul li:hover .fa {
  color: #fff;
  font-size: 35px;
}

.footer-content ul li:hover:nth-child(1) a {
  background: #3b5999;
}

.footer-content ul li:hover:nth-child(2) a {
  background: #55acee;
}

.footer-content ul li:hover:nth-child(3) a {
  background: #bb0000;
}

.footer-content ul li:hover:nth-child(4) a {
  background: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

@media all and (max-width: 500px) {
  .footer-content ul li {
    margin: 0 8px;
  }

  .footer-content ul li .fa {
    font-size: 20px;
    line-height: 40px;
  }

  .footer-content ul li a {
    width: 50px;
    height: 50px;
  }

  .footer-content ul li:hover .fa {
    font-size: 40px;
  }
}

/* copyright bar */

.footer-bottom {
  width: 100vw;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 17px;
  word-spacing: 2px;
  text-shadow: 1px 1px 4px rgb(196, 196, 196);
  text-transform: capitalize;
}

.footer-bottom span {
  text-decoration: uppercase;
  opacity: .4;
  font-weight: 200;
}