/* body */
.bcontent {
  /* background-color: rgb(49, 4, 4); */
  padding: 0 10%;
  padding-top: 50px;
  height: auto;
}

/* MENU BLACK */
.black {
  background: rgba(0, 0, 0, 0.5);
}

/* services */
.heading {
  color: white;
  text-shadow: 1px 1px 4px rgb(196, 196, 196);
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  margin-right: -2px;

}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container .card {
  position: relative;
  width: 512px;
  height: 275px;
  background: transparent;
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 15px;
  display: flex;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 761px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .bcontent {
    padding: 0 1%;
  }
}

/* --------------------------- New Cards ----------------------- */

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 45px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 2px 1px 15px 2px rgba(189, 189, 189, 0.77);
  -moz-box-shadow: 2px 1px 15px 2px rgba(189, 189, 189, 0.77);
  box-shadow: 2px 1px 15px 2px rgba(189, 189, 189, 0.77);
  width: 250px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.our-team .pic {
  width: 130px;
  height: 130px;
  display: inline-block;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.our-team:hover .pic img {
  box-shadow: 0 0 0 5px #8d8d8d;
  /*Photo Frome Color*/
  transform: scale(0.8);
}

.our-team .pic:before {
  content: "";
  width: 100%;
  background: #383838;
  border-radius: 50%;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  transform: scale(3);
  transition: all 0.5s linear 0s;
}

.our-team:hover .pic:before {
  height: 100%;
}

.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #383838;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .team-cnt {
  margin-bottom: 30px;
}

.team-cnt .title {
  line-height: 25px;
  font-size: 19px;
  font-weight: 800;
  color: #4e5052;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.team-cnt .post {
  display: block;
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
  color: #5d5e5f;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  background: #383838;
  /* Bottom Bar Color*/
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.team-cnt .interests {
  color: #696969;
  line-height: 25px;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #303030;
  background: #f7f5ec;
  text-decoration: none;
}

/* --------------------------- New Cards ----------------------- */